#home-page-user{
    width: 100vw;
    height: 100vh;
}
button{
    background: none;
    padding: none;
    border: none;
}
input{
    color: black;
}
#filters{
    background: var( --color-opacity);
    
    margin: 0 2rem;
    border-radius: 1rem;

    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 6rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
  }
#home-page-content{
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    margin-left: 2rem ;
    margin-right: 2rem ;

}

#aside-left{
    margin-bottom: 3rem;
    background:var(--color-primary);
    width: auto;
    height: 20vh;
    box-shadow: -5px 5px 5px 0px rgba(0,0,0,0.75);
}


main{
    margin-bottom: 3rem;
    
    border-radius: 1rem;
    
}

#aside-right{
    margin-bottom: 4rem;
    background:var(--color-primary);
    height: 20vh;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}

@media(min-width: 900px ) {
header{
    display: flex;
    flex-direction: column;
}

    #home-page-content{
        display: grid;
        grid-template-columns: 1fr 4fr 1fr ;
    }
    
    #aside-left{
        margin-right:1rem;
        background:var(--color-primary);
        
        height: 95%;
    }
    
    #content-main{
        margin-bottom: 3rem;
        
        border-radius: 1rem;
        display: flex !important;
        flex-direction: column!important;
        align-items: center;
        
    }
    
    #aside-right{
        margin-left: 1rem;
        background:var(--color-primary);

        height: 95%;
        

    }
  
    
    }