#home-page-user{
    width: 100vw;
    height: 100vh;
    
}
button{
    background: none;
    padding: none;
    border: none;
}
#adsense1{
    background: var(--color-primary);
    height: 10rem;
    width: 100%;
    margin: 2rem;
}
#adsense2{
    background: var(--color-primary);
    height: 10rem;
    width: 100%;
    margin: 2rem;
}

#filters{
    background: var( --color-opacity);
    
    margin: 0 2rem;
    border-radius: 1rem;

    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 6rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
  }
#home-page-content{
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    
    margin-left: 2rem ;
    margin-right: 2rem ;

}


#home-page-label-books{
    text-align: center;
}

main{
    margin-bottom: 3rem;
    
    border-radius: 1rem;
    
}
#not-found-books-img{
    padding: 20rem 2rem;
    width: 50rem;
   
}

#footer-main-page{
    margin-top: 20rem;
}
@media(min-width: 800px ) {


    #home-page-content{
        display: grid !important;
        grid-template-columns: 1fr 4fr 1fr ;
    }
   
    
    #adsense1{
        background: var(--color-primary);
        height: 100rem;
        margin: 2rem;
    }
    #adsense2{
        background: var(--color-primary);
        height: 100rem;
        margin: 2rem;
    }
    
    #content-main{
        margin-bottom: 3rem;
        
        border-radius: 1rem;
        display: flex !important;
        flex-direction: column!important;
        align-items: center;
        
    }
    
   
  
    
    }