
#registerBook-area{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    align-items: center;
    justify-content: center;
    width: 100%;
    
  }

  #registerBook-area label{
    
    align-self: flex-start;
    margin-bottom: 1rem;
    font-family:   Roboto;
    font-weight: 400;
    font-size: 2rem;
    color :var(--color-opacity);

  }

#registerBook-area textarea{
    width: 100%;
    padding: 2rem;
    margin-bottom: 3rem;
    border:none;
    background: var(--color-background);
    border-radius: 1rem;
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.75);
     resize: none; 
  }