:root{
    font-size: 60%;
    --color-background: #252830;
    --color-primary: #30343E;
    --color-letters: #FFFFFF;
    --color-special: #1997C6;
}

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 

html,body, #root{
    height: 100vh;

}

body{
    background:var(--color-background);
}

#root{
    display: flex;
    align-items: center;
    justify-content: center;
}

body,input,button,textarea{
    font: 500 1.6rem Poppins;
    color: var(--color-letters);
}

.contanner{
    width: 90vw;
   
}

@media(min-width: 800px){
    :root{
        font-size: 62.5%;
    }
}