#btn-filter {
    background-color: var(--color-special);
    width: 14rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    padding: 1rem;
    border-radius: 2.5rem;
    opacity: 0.75;
    box-shadow: -5px 5px 5px 0px rgba(0,0,0,0.75);
}
#btn-filter label{
    color: var(--color-letter);
    font-family: Georgia, Roboto;
    font-size: 1.4rem;
    font-weight: 540;
    display: flex;
    text-align: center;
}

#btn-filter:hover, label:hover{
    opacity: 1;
    cursor: pointer;
}
#btn-filter:active{
    transition: 2ms;
    box-shadow: -2px 2px 5px 0px rgba(0,0,0,0.75);
}